<p id="notice"><%= notice %></p>

<h1>Guides</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @guides.each do |guide| %>
      <tr>
        <td><%= guide.company %></td>
        <td><%= guide.address %></td>
        <td><%= link_to 'Show', guide %></td>
        <td><%= link_to 'Show PDF', "/guides/#{guide.id}.pdf", target: :_blank %></td>
        <td><%= link_to 'Termo PDF', "/guides/termo.pdf/?id=#{guide.id}.pdf", target: :_blank %></td>
        <td><%= link_to 'Guia PDF', "/guides/guia.pdf/?id=#{guide.id}.pdf", target: :_blank %></td>
        <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
        <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Guide', new_guide_path %>
