<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @guide.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @guide.address %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @guide.patient %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @guide.doctor %>
</p>

<p>
  <strong>Date:</strong>
  <%= @guide.date %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @guide.hour %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @guide.specialty %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @guide.exam %>
</p>

<p>
  <strong>Document:</strong>
  <%= @guide.document %>
</p>

<p>
  <strong>Passport:</strong>
  <%= @guide.passport %>
</p>

<p>
  <strong>Value:</strong>
  <%= @guide.value %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @guide.registration %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
